# Imports

In [6]:
import os

In [1]:
import pandas as pd

In [17]:
pd.set_option('max_columns', 100)

In [8]:
os.getcwd()

'C:\\Users\\Dasha\\Documents\\GitHub\\find-political-donors'

In [7]:
os.listdir('.')

['.git',
 '.ipynb_checkpoints',
 'input',
 'insight_testsuite',
 'output',
 'README.md',
 'run.sh',
 'src',
 'Untitled.ipynb']

In [9]:
os.listdir('input/')

['itcont.txt', 'README.md']

In [10]:
os.listdir('insight_testsuite/tests/test_1/input/')

['itcont.txt']

## Column names

In [40]:
column_descriptions_html = """\
<table width="100%" cellspacing="2" cellpadding="3" border="0">
    <tbody><tr valign="middle" bgcolor="#004477" align="left">
      <td width="19%" nowrap="" height="25"><strong><font color="white">Column Name  </font></strong></td>
      <td width="26%" height="25"><font color="white"><span class="style3">Field Name </span></font></td>
      <td width="9%"><strong><font color="white">Position</font></strong></td>
      <td width="6%"><strong><font color="white">Null?</font></strong></td>
      <td width="11%" height="25"><font color="white"><span class="style3"> Data Type </span></font></td>
      <td width="29%" height="25"><font color="white"><span class="style3"> Description </span></font></td>
    </tr>
    <tr valign="middle" bgcolor="#F5F0FF">
      <td valign="middle" align="center">CMTE_ID<br>        </td>
      <td valign="middle" align="center">Filer Identification Number<br></td>
      <td valign="middle" align="center">1</td>
      <td valign="middle" align="center">N</td>
      <td valign="middle" align="center">VARCHAR2 (9)<br>      </td>
      <td> A 9-character alpha-numeric code assigned to a committee by the Federal Election Commission </td>
    </tr>
    <tr valign="middle" bgcolor="#FFFFFF">
      <td valign="middle" align="center">AMNDT_IND</td>
      <td valign="middle" align="center">Amendment Indicator<br></td>
      <td valign="middle" align="center">2</td>
      <td valign="middle" align="center">Y</td>
      <td valign="middle" align="center">VARCHAR2 (1)<br></td>
      <td> Indicates if the report being filed is new (N), an amendment (A) to a previous report, or a termination (T) report. </td>
    </tr>
    
    <tr valign="middle" bgcolor="#F5F0FF">
      <td valign="middle" align="center">RPT_TP</td>
      <td valign="middle" align="center">Report Type<br></td>
      <td valign="middle" align="center">3</td>
      <td valign="middle" align="center">Y</td>
      <td valign="middle" align="center">VARCHAR2 (3)<br></td>
      <td>Indicates the type of report filed. <a href="http://www.fec.gov/finance/disclosure/metadata/ReportTypeCodes.shtml">List of report type codes</a> </td>
    </tr>
    <tr valign="middle" bgcolor="#FFFFFF">
      <td valign="middle" align="center" height="47">TRANSACTION_PGI</td>
      <td valign="middle" align="center">Primary-General Indicator<br></td>
      <td valign="middle" align="center">4</td>
      <td valign="middle" align="center">Y</td>
      <td valign="middle" align="center">VARCHAR2 (5)<br></td>
      <td> This code indicates the election for which the contribution was made. EYYYY (election plus election year)<br>
	P = Primary<br>
	G = General<br>
	O = Other<br>
	C = Convention<br>
	R = Runoff<br>
	S = Special<br>
	E = Recount<br>
      </td>
    </tr>
    <tr valign="middle" bgcolor="#F5F0FF">
      <td valign="middle" align="center">IMAGE_NUM<br></td>
      <td valign="middle" align="center">Image Number<br></td>
      <td valign="middle" align="center">5</td>
      <td valign="middle" align="center">Y</td>
      <td valign="middle" align="center">VARCHAR2 (11) or VARCHAR2(18)<br></td>
      <td>11-digit Image Number Format<br>
        YYOORRRFFFF<br>
        YY - scanning year <br>
        OO - office (01 - House, 02 - Senate, 03 - FEC Paper, 9x - FEC Electronic) <br>
        RRR - reel number <br>
        FFFF- frame number<br>
        <p>18-digit Image Number Format (June 29, 2015)<br>
          YYYYMMDDSSPPPPPPPP<br>
          YYYY - scanning year <br>
          MM - scanning month <br>
          DD - scanning day <br>
          SS - source (02 - Senate, 03 - FEC Paper, 9x - FEC Electronic) <br>
      PPPPPPPP - page (reset to zero every year on January 1) </p></td>
    </tr>
    <tr valign="middle" bgcolor="#FFFFFF">
      <td valign="middle" align="center">TRANSACTION_TP<br></td>
      <td valign="middle" align="center">Transaction Type<br></td>
      <td valign="middle" align="center">6</td>
      <td valign="middle" align="center">Y</td>
      <td valign="middle" align="center">VARCHAR2 (3)<br></td>
      <td><p style="margin-top: 0;">Transaction types 10, 11, 15, 15C, 15E, 15I, 15T, 19, 22Y, 24I, 24T, 20Y and 21Y are included in the INDIV file. Beginning with 2016 transaction types 30, 30T, 31, 31T, 32, 32T, 40T, 40Y, 41T, 41Y, 42T and 42Y are also included in the INDIV file. </p>
        <p style="margin-bottom: 0;">For more information about transaction type codes see this <a href="http://www.fec.gov/finance/disclosure/metadata/DataDictionaryTransactionTypeCodes.shtml">list of transaction type codes</a> </p>
      </td>
    </tr>
    <tr valign="middle" bgcolor="#F5F0FF">
      <td valign="middle" align="center">ENTITY_TP<br></td>
      <td valign="middle" align="center">Entity Type<br></td>
      <td valign="middle" align="center">7</td>
      <td valign="middle" align="center">Y</td>
      <td valign="middle" align="center">VARCHAR2 (3)<br></td>
      <td>ONLY VALID FOR ELECTRONIC FILINGS received after April 2002.
        <p>CAN = Candidate<br>
          CCM = Candidate Committee<br>
          COM = Committee<br>
          IND = Individual (a person)<br>
          ORG = Organization (not a committee and not a person)<br>
          PAC = Political Action Committee<br>
      PTY = Party Organization</p></td>
    </tr>
    <tr valign="middle" bgcolor="#FFFFFF">
      <td valign="middle" align="center">NAME<br></td>
      <td valign="middle" align="center">Contributor/Lender/Transfer Name<br></td>
      <td valign="middle" align="center">8</td>
      <td valign="middle" align="center">Y</td>
      <td valign="middle" align="center">VARCHAR2 (200)<br></td>
      <td>&nbsp;</td>
    </tr>
    <tr valign="middle" bgcolor="#F5F0FF">
      <td valign="middle" align="center">CITY<br></td>
      <td valign="middle" align="center">City/Town<br></td>
      <td valign="middle" align="center">9</td>
      <td valign="middle" align="center">Y</td>
      <td valign="middle" align="center">VARCHAR2 (30)<br></td>
      <td>&nbsp;</td>
    </tr>
    <tr valign="middle" bgcolor="#FFFFFF">
      <td valign="middle" align="center">STATE<br></td>
      <td valign="middle" align="center">State<br></td>
      <td valign="middle" align="center">10</td>
      <td valign="middle" align="center">Y</td>
      <td valign="middle" align="center">VARCHAR2 (2)<br></td>
      <td>&nbsp;</td>
    </tr>
    <tr valign="middle" bgcolor="#F5F0FF">
      <td valign="middle" align="center"> ZIP_CODE<br></td>
      <td valign="middle" align="center"> Zip Code<br></td>
      <td valign="middle" align="center">11</td>
      <td valign="middle" align="center">Y</td>
      <td valign="middle" align="center"> VARCHAR2 (9)<br></td>
      <td>&nbsp; </td>
    </tr>
    <tr valign="middle" bgcolor="#FFFFFF">
      <td valign="middle" align="center">EMPLOYER<br></td>
      <td valign="middle" align="center">Employer<br></td>
      <td valign="middle" align="center">12</td>
      <td valign="middle" align="center">Y</td>
      <td valign="middle" align="center">VARCHAR2 (38)<br></td>
      <td>&nbsp;</td>
    </tr>
    <tr valign="middle" bgcolor="#F5F0FF">
      <td valign="middle" align="center">OCCUPATION<br></td>
      <td valign="middle" align="center">Occupation<br></td>
      <td valign="middle" align="center">13</td>
      <td valign="middle" align="center">Y</td>
      <td valign="middle" align="center">VARCHAR2 (38)<br></td>
      <td>&nbsp; </td>
    </tr>
    <tr valign="middle" bgcolor="#FFFFFF">
      <td valign="middle" align="center">TRANSACTION_DT<br></td>
      <td valign="middle" align="center">Transaction Date(MMDDYYYY)<br></td>
      <td valign="middle" align="center">14</td>
      <td valign="middle" align="center">Y</td>
      <td valign="middle" align="center">DATE<br></td>
      <td>&nbsp; </td>
    </tr>
    <tr valign="middle" bgcolor="#F5F0FF">
      <td valign="middle" align="center">TRANSACTION_AMT<br></td>
      <td valign="middle" align="center">Transaction Amount<br></td>
      <td valign="middle" align="center">15</td>
      <td valign="middle" align="center">Y</td>
      <td valign="middle" align="center">NUMBER (14,2)<br></td>
      <td>&nbsp;</td>
    </tr>
    <tr valign="middle" bgcolor="#FFFFFF">
      <td valign="middle" align="center">OTHER_ID<br></td>
      <td valign="middle" align="center">Other Identification Number<br></td>
      <td valign="middle" align="center">16</td>
      <td valign="middle" align="center">Y</td>
      <td valign="middle" align="center">VARCHAR2 (9)<br></td>
      <td>For contributions from individuals this column is null. For contributions from candidates or other committees this column will contain that contributor's FEC ID.</td>
    </tr>
    <tr valign="middle" bgcolor="#F5F0FF">
      <td valign="middle" align="center">TRAN_ID<br></td>
      <td valign="middle" align="center">Transaction ID<br></td>
      <td valign="middle" align="center">17</td>
      <td valign="middle" align="center">Y</td>
      <td valign="middle" align="center">VARCHAR2 (32)<br></td>
      <td>ONLY VALID FOR ELECTRONIC FILINGS. A unique identifier associated with each itemization or transaction appearing in an FEC electronic file.  A transaction ID is unique for a specific committee for a specific report. In other words, if committee, C1, files a Q3 New with transaction SA123 and then files 3 amendments to the Q3 transaction SA123 will be identified by transaction ID SA123 in all 4 filings.</td>
    </tr>
    <tr valign="middle" bgcolor="#FFFFFF">
      <td valign="middle" align="center">FILE_NUM<br></td>
      <td valign="middle" align="center">File Number / Report ID<br></td>
      <td valign="middle" align="center">18</td>
      <td valign="middle" align="center">Y</td>
      <td valign="middle" align="center">NUMBER (22)<br></td>
      <td>Unique report id </td>
    </tr>
    <tr valign="middle" bgcolor="#F5F0FF">
      <td valign="middle" align="center">MEMO_CD<br></td>
      <td valign="middle" align="center">Memo Code<br></td>
      <td valign="middle" align="center">19</td>
      <td valign="middle" align="center">Y</td>
      <td valign="middle" align="center">VARCHAR2 (1)<br></td>
      <td>'X' indicates that the amount is NOT to be included in the itemization total.  </td>
    </tr>
    <tr valign="middle" bgcolor="#FFFFFF">
      <td valign="middle" align="center">MEMO_TEXT<br></td>
      <td valign="middle" align="center">Memo Text<br></td>
      <td valign="middle" align="center">20</td>
      <td valign="middle" align="center">Y</td>
      <td valign="middle" align="center">VARCHAR2 (100)<br></td>
      <td>A description of the activity. Memo Text is available on itemized amounts on Schedules A and B. These transactions are included in the itemization total.  </td>
    </tr>
    <tr valign="middle" bgcolor="#F5F0FF">
      <td valign="middle" align="center">SUB_ID</td>
      <td valign="middle" align="center">FEC Record Number</td>
      <td valign="middle" align="center">21</td>
      <td valign="middle" align="center">N</td>
      <td valign="middle" align="center">NUMBER (19)</td>
      <td>Unique row ID </td>
    </tr>
  </tbody>
  </table>
"""
df = pd.read_html(column_descriptions_html, header=0)[0]
column_names = df[['Column Name', ]].tolist()
column_names

['CMTE_ID',
 'AMNDT_IND',
 'RPT_TP',
 'TRANSACTION_PGI',
 'IMAGE_NUM',
 'TRANSACTION_TP',
 'ENTITY_TP',
 'NAME',
 'CITY',
 'STATE',
 'ZIP_CODE',
 'EMPLOYER',
 'OCCUPATION',
 'TRANSACTION_DT',
 'TRANSACTION_AMT',
 'OTHER_ID',
 'TRAN_ID',
 'FILE_NUM',
 'MEMO_CD',
 'MEMO_TEXT',
 'SUB_ID']

In [ ]:
column_names = [
    'CMTE_ID',
    'AMNDT_IND',
    'RPT_TP',
    'TRANSACTION_PGI',
    'IMAGE_NUM',
    'TRANSACTION_TP',
    'ENTITY_TP',
    'NAME',
    'CITY',
    'STATE',
    'ZIP_CODE',
    'EMPLOYER',
    'OCCUPATION',
    'TRANSACTION_DT',
    'TRANSACTION_AMT',
    'OTHER_ID',
    'TRAN_ID',
    'FILE_NUM',
    'MEMO_CD',
    'MEMO_TEXT',
    'SUB_ID'
]

In [11]:
df1 = pd.read_csv('input/itcont.txt', sep='|', nrows=100,)

In [41]:
df1 = pd.read_csv('input/itcont.txt', sep='|', nrows=100,names=column_names)

In [45]:
df1 = pd.read_csv(
    'input/itcont.txt', sep='|', nrows=100, names=column_names, 
    usecols=['CMTE_ID', 'ZIP_CODE', 'TRANSACTION_DT', 'TRANSACTION_AMT', 'OTHER_ID'])

In [44]:
df1

      CMTE_ID   ZIP_CODE  TRANSACTION_DT  TRANSACTION_AMT   OTHER_ID
0   C00629618      90017         1032017               40  H6CA34245
1   C00177436  330375267         1042017             5000        NaN
2   C00177436  307502818         1312017              230        NaN
3   C00177436   40976952         1312017              384        NaN
4   C00177436  300047357         1312017              384        NaN
5   C00177436   20251500         1312017              230        NaN
6   C00177436   41051896         1312017              384        NaN
7   C00177436   41051935         1312017              384        NaN
8   C00177436   40424132         1312017              384        NaN
9   C00177436   41051972         1312017              384        NaN
10  C00177436   40722246         1312017              260        NaN
11  C00177436   40112944         1312017              240        NaN
12  C00177436  374155652         1312017              384        NaN
13  C00177436  223071128         1312017              384        NaN
14  C00177436  374054318         1312017              230        NaN
15  C00177436  374155614         1312017              230        NaN
16  C00177436  373771437         1312017              384        NaN
17  C00177436  374155604         1312017              230        NaN
18  C00177436  290458282         1312017              384        NaN
19  C00177436   15457711         1312017              230        NaN
20  C00384818  441391855         1122017              250        NaN
21  C00384818   28956146         1122017              250        NaN
22  C00384818   28654257         1122017              333        NaN
23  C00384818   28956146         1122017              333        NaN
24  C00384818   28956146         1122017              416        NaN
25  C00384818   28641786         1122017              250        NaN
26  C00384818  105835024         1122017              250        NaN
27  C00384818   28641786         1122017              250        NaN
28  C00384818   28956146         1122017              208        NaN
29  C00384818   28956146         1122017              416        NaN
30  C00384818  194061418         1122017              200        NaN
31  C00384818   28956146         1122017              250        NaN
32  C00384818   28956146         1122017              250        NaN
33  C00384818  750392507         1122017              416        NaN
34  C00384818   79321007         1122017              250        NaN
35  C00384818   79321007         1122017              416        NaN
36  C00384818   28956146         1122017              250        NaN
37  C00384818  750392507         1122017              416        NaN
38  C00384818   28641786         1122017              250        NaN
39  C00384818   28641786         1122017              208        NaN
40  C00384818      45202         1122017              416        NaN
41  C00384818   28654257         1122017              250        NaN
42  C00384818   28654257         1122017              416        NaN
43  C00384818   28956146         1122017              250        NaN
44  C00384818   28956146         1122017              416        NaN
45  C00384818  762625646         1272017                0        NaN
46  C00384818  200042448         1122017              250        NaN
47  C00384818   79321007         1122017              416        NaN
48  C00384818   28654257         1122017              250        NaN
49  C00384818   28956146         1122017              250        NaN
50  C00384818   28956146         1122017              416        NaN
51  C00384818   28956146         1122017              400        NaN
52  C00384818  852606719         1122017              250        NaN
53  C00384818  600626150         1122017              250        NaN
54  C00384818   28956146         1122017              250        NaN
55  C00384818  200042404         1122017              416        NaN
56  C00384818   28956146         1122017              250        NaN
57  C00384818   79321007         1122017              250        NaN
58  C00384818   28956146         1122017              416        NaN
59  C00384818   28641799         1122017              250        NaN
60  C00384818   28956146         1122017              250        NaN
61  C00377051      95608         1262017             1000        NaN
62  C00528455      10001         1192017            15000        NaN
63  C00242271  400597644         1312017              384        NaN
64  C00242271  402427771         1312017              210        NaN
65  C00242271  402071661         1312017              380        NaN
66  C00242271  402412423         1312017              384        NaN
67  C00242271  400597616         1312017              350        NaN
68  C00242271  400591349         1312017              384        NaN
69  C00387753  293043484         1312017              500        NaN
70  C00387753  296014335         1312017              260        NaN
71  C00051979      10502         1312017              416        NaN
72  C00387753  377662426         1312017              384        NaN
73  C00387753  293309595         1312017              400        NaN
74  C00371948  443171002         1312017              416        NaN
75  C00371948  200056551         1312017              416        NaN
76  C00371948  372143672         1312017              250        NaN
77  C00051979      43081         1312017              415        NaN
78  C00051979      43082         1312017              416        NaN
79  C00051979      45248         1312017              227        NaN
80  C00051979      43220         1312017              264        NaN
81  C00051979      43054         1312017              416        NaN
82  C00051979      43017         1312017              416        NaN
83  C00051979      43081         1122017              788        NaN
84  C00051979      43017         1312017              220        NaN
85  C00051979      43016         1312017              204        NaN
86  C00051979  431469413         1312017              301        NaN
87  C00051979  154019801         1312017              363        NaN
88  C00051979      20817         1312017              416        NaN
89  C00051979      60611         1312017              408        NaN
90  C00051979      40502         1312017              230        NaN
91  C00051979  430172463         1312017              235        NaN
92  C00051979  430172720         1312017              413        NaN
93  C00051979       3106         1312017              218        NaN
94  C00051979      46307         1312017              416        NaN
95  C00051979      46360         1312017              231        NaN
96  C00051979      43054         1312017              416        NaN
97  C00051979      46373         1312017              201        NaN
98  C00051979      60189         1312017              262        NaN
99  C00051979      43017         1312017              416        NaN

In [25]:
df2 = pd.read_csv('insight_testsuite/tests/test_1/input/itcont.txt', sep='|')

In [26]:
df2

,C00629618,N,TER,P,201701230300133512,15C,IND,"PEREZ, JOHN A",LOS ANGELES,CA,90017,PRINCIPAL,DOUBLE NICKEL ADVISORS,01032017,40,H6CA34245,SA01251735122,1141239,Unnamed: 18,Unnamed: 19,2012520171368850783
0,C00177436,N,M2,P,201702039042410894,15,IND,"DEEHAN, WILLIAM N",ALPHARETTA,GA,300047357,UNUM,"SVP, SALES, CL",1312017,384,NaN,PR2283873845050,1147350,NaN,P/R DEDUCTION ($192.00 BI-WEEKLY),4020820171370029337
1,C00384818,N,M2,P,201702039042412112,15,IND,"ABBOTT, JOSEPH",WOONSOCKET,RI,28956146,CVS HEALTH,"VP, RETAIL PHARMACY OPS",1122017,250,NaN,2017020211435-887,1147467,NaN,NaN,4020820171370030285
2,C00177436,N,M2,P,201702039042410893,15,IND,"SABOURIN, JAMES",LOOKOUT MOUNTAIN,GA,307502818,UNUM,"SVP, CORPORATE COMMUNICATIONS",1312017,230,NaN,PR1890575345050,1147350,NaN,P/R DEDUCTION ($115.00 BI-WEEKLY),4020820171370029335
3,C00177436,N,M2,P,201702039042410895,15,IND,"JEROME, CHRISTOPHER",FALMOUTH,ME,41051896,UNUM,"EVP, GLOBAL SERVICES",1312017,384,NaN,PR2283905245050,1147350,NaN,P/R DEDUCTION ($192.00 BI-WEEKLY),4020820171370029342
4,C00384818,N,M2,P,201702039042412112,15,IND,"BAKER, SCOTT",WOONSOCKET,RI,28956146,CVS HEALTH,"EVP, HEAD OF RETAIL OPERATIONS",1122017,333,NaN,2017020211435-910,1147467,NaN,NaN,4020820171370030287
5,C00177436,N,M2,P,201702039042410894,15,IND,"FOLEY, JOSEPH",FALMOUTH,ME,41051935,UNUM,"SVP, CORP MKTG & PUBLIC RELAT.",1312017,384,NaN,PR2283904845050,1147350,NaN,P/R DEDUCTION ($192.00 BI-WEEKLY),4020820171370029339

# Part 1

Load DataFrames