# Imports

In [153]:
import os
from collections import defaultdict, Counter

In [3]:
import pandas as pd

In [4]:
pd.set_option('max_columns', 100)

In [5]:
%matplotlib inline

In [6]:
os.getcwd()

'C:\\Users\\Dasha\\Documents\\GitHub\\find-political-donors'

In [7]:
os.listdir('.')

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'Cleaning the input file.ipynb',
 'input',
 'insight_testsuite',
 'output',
 'README.md',
 'run.sh',
 'src']

In [8]:
os.listdir('input/')

['itcont.txt', 'README.md']

In [9]:
os.listdir('insight_testsuite/tests/test_1/input/')

['itcont.txt']

# Load data

## Column names

In [10]:
column_names = [
    'CMTE_ID',
    'AMNDT_IND',
    'RPT_TP',
    'TRANSACTION_PGI',
    'IMAGE_NUM',
    'TRANSACTION_TP',
    'ENTITY_TP',
    'NAME',
    'CITY',
    'STATE',
    'ZIP_CODE',
    'EMPLOYER',
    'OCCUPATION',
    'TRANSACTION_DT',
    'TRANSACTION_AMT',
    'OTHER_ID',
    'TRAN_ID',
    'FILE_NUM',
    'MEMO_CD',
    'MEMO_TEXT',
    'SUB_ID'
]
usecols = ['CMTE_ID', 'ZIP_CODE', 'TRANSACTION_DT', 'TRANSACTION_AMT', 'OTHER_ID']
dtype = {'ZIP_CODE': str, 'TRANSACTION_DT': str}

In [11]:
df1 = pd.read_csv('input/itcont.txt', sep='|', nrows=100000, names=column_names, usecols=usecols, dtype=dtype)

In [12]:
df1.head()

     CMTE_ID   ZIP_CODE TRANSACTION_DT  TRANSACTION_AMT   OTHER_ID
0  C00629618      90017       01032017               40  H6CA34245
1  C00177436  330375267       01042017             5000        NaN
2  C00177436  307502818       01312017              230        NaN
3  C00177436  040976952       01312017              384        NaN
4  C00177436  300047357       01312017              384        NaN

In [13]:
df2 = pd.read_csv(
    'insight_testsuite/tests/test_1/input/itcont.txt', sep='|', names=column_names, usecols=usecols, dtype=dtype)

In [14]:
df2

     CMTE_ID   ZIP_CODE TRANSACTION_DT  TRANSACTION_AMT   OTHER_ID
0  C00629618      90017       01032017               40  H6CA34245
1  C00177436  300047357       01312017              384        NaN
2  C00384818  028956146       01122017              250        NaN
3  C00177436  307502818       01312017              230        NaN
4  C00177436  041051896       01312017              384        NaN
5  C00384818  028956146       01122017              333        NaN
6  C00177436  041051935       01312017              384        NaN

# Filter rows

In [ ]:
PI = 3.14

In [106]:
def validate_transaction_dt(transaction_dt):
    month = transaction_dt[:2]
    day = transaction_dt[2:4]
    year = transaction_dt[4:]
    is_valid = (1 <= int(month) <= 12) and (1 <= int(day) <= 31) and (1000 <= int(year) <= 2020)
    return is_valid

In [97]:
df1_filtered = df1.copy()

In [98]:
before = len(df1_filtered)
df1_filtered = df1_filtered[df1_filtered.OTHER_ID.isnull()]
print(f"Lost {before - len(df1_filtered)} rows")

Lost 13016 rows

In [99]:
df1_filtered['ZIP_CODE_5CHAR'] = df1_filtered['ZIP_CODE'].str[:5]

In [100]:
df1_filtered['ZIP_VALID'] = df1_filtered.ZIP_CODE_5CHAR.str.len() == 5
print(f"Num invalid zip codes: {(~df1_filtered['ZIP_VALID']).sum()}")

Num invalid zip codes: 387

In [113]:
df1_filtered['DATE_VALID'] = df1_filtered.TRANSACTION_DT.apply(validate_transaction_dt)
print(f"Num invalid dates: {(~df1_filtered['DATE_VALID']).sum()}")

Num invalid dates: 0

In [101]:
before = len(df1_filtered)
df1_filtered = df1_filtered[df1_filtered.CMTE_ID.notnull()]
print(f"Lost {before - len(df1_filtered)} rows")

Lost 0 rows

In [102]:
before = len(df1_filtered)
df1_filtered = df1_filtered[df1_filtered.TRANSACTION_AMT.notnull()]
print(f"Lost {before - len(df1_filtered)} rows")

Lost 0 rows

# Output

In [186]:
class RollingMedian:
    
    def __init__(self):
        self._data = []
        
    def add(self, item):
        self._data.append(item)
        self._data.sort()
    
    @property
    def median(self):
        if len(self._data) % 2 == 0:
            return (self._data[len(self._data) // 2 - 1] + self._data[len(self._data) // 2]) / 2
        else:
            return self._data[len(self._data) // 2]

In [253]:
def round_amount(amount):
    if pd.isnull(amount):
        return None
    else:
        return int(amount) + int(amount % 1 >= 0.5)

In [210]:
run_med = defaultdict(RollingMedian)
run_count = Counter()
run_total = Counter()


def increment_run_med(key, value):
    rolling_median = run_med[key]
    rolling_median.add(value)
    return rolling_median.median

def increment_run_count(key):
    run_count[key] += 1
    return run_count[key]

def increment_run_total(key, value):
    run_total[key] += value
    return run_total[key]

In [211]:
df1_filtered.loc[df1_filtered['ZIP_VALID'], 'RUN_MED_ZIP'] = df1_filtered.loc[df1_filtered['ZIP_VALID'], :].apply(
    lambda s: increment_run_med((s['CMTE_ID'], s['ZIP_CODE_5CHAR']), s['TRANSACTION_AMT']), axis=1)

df1_filtered.loc[df1_filtered['ZIP_VALID'], 'RUN_COUNT_ZIP'] = df1_filtered.loc[df1_filtered['ZIP_VALID'], :].apply(
    lambda s: increment_run_count((s['CMTE_ID'], s['ZIP_CODE_5CHAR'])), axis=1)

df1_filtered.loc[df1_filtered['ZIP_VALID'], 'RUN_TOTAL_ZIP'] = df1_filtered.loc[df1_filtered['ZIP_VALID'], :].apply(
    lambda s: increment_run_total((s['CMTE_ID'], s['ZIP_CODE_5CHAR']), s['TRANSACTION_AMT']), axis=1)

In [212]:
df1_filtered.loc[df1_filtered['DATE_VALID'], 'RUN_MED_DATE'] = df1_filtered.loc[df1_filtered['DATE_VALID'], :].apply(
    lambda s: increment_run_med((s['CMTE_ID'], s['TRANSACTION_DT']), s['TRANSACTION_AMT']), axis=1)

df1_filtered.loc[df1_filtered['DATE_VALID'], 'RUN_COUNT_DATE'] = df1_filtered.loc[df1_filtered['DATE_VALID'], :].apply(
    lambda s: increment_run_count((s['CMTE_ID'], s['TRANSACTION_DT'])), axis=1)

df1_filtered.loc[df1_filtered['DATE_VALID'], 'RUN_TOTAL_DATE'] = df1_filtered.loc[df1_filtered['DATE_VALID'], :].apply(
    lambda s: increment_run_total((s['CMTE_ID'], s['TRANSACTION_DT']), s['TRANSACTION_AMT']), axis=1)

In [254]:
df1_filtered.RUN_MED_DATE = df1_filtered.RUN_MED_DATE.apply(round_amount)

In [257]:
df1_filtered.RUN_MED_ZIP = df1_filtered.RUN_MED_ZIP.apply(round_amount)

In [258]:
df1_filtered.head()

,CMTE_ID,ZIP_CODE,TRANSACTION_DT,TRANSACTION_AMT,OTHER_ID,ZIP_CODE_5CHAR,ZIP_VALID,DATE_VALID,RUN_MED_ZIP,RUN_COUNT_ZIP,RUN_TOTAL_ZIP,RUN_MED_DATE,RUN_COUNT_DATE,RUN_TOTAL_DATE
1,C00177436,330375267,01042017,5000,NaN,33037,True,True,5000.0,1.0,5000.0,5000,1,5000
2,C00177436,307502818,01312017,230,NaN,30750,True,True,230.0,1.0,230.0,230,1,230
3,C00177436,040976952,01312017,384,NaN,04097,True,True,384.0,1.0,384.0,307,2,614
4,C00177436,300047357,01312017,384,NaN,30004,True,True,384.0,1.0,384.0,384,3,998
5,C00177436,020251500,01312017,230,NaN,02025,True,True,230.0,1.0,230.0,307,4,1228

# Save output

In [270]:
columns = ['CMTE_ID', 'ZIP_CODE_5CHAR', 'RUN_MED_ZIP', 'RUN_COUNT_ZIP', 'RUN_TOTAL_ZIP']
dtypes = {
    'RUN_MED_ZIP': int,
    'RUN_COUNT_ZIP': int,
    'RUN_TOTAL_ZIP': int,
}
df1_zip_out = df1_filtered[df1_filtered['ZIP_VALID']][columns].astype(dtypes)

In [271]:
columns = ['CMTE_ID', 'TRANSACTION_DT', 'RUN_MED_DATE', 'RUN_COUNT_DATE', 'RUN_TOTAL_DATE']
dtypes = {
    'RUN_MED_DATE': int,
    'RUN_COUNT_DATE': int,
    'RUN_TOTAL_DATE': int,
}
df1_date_out = df1_filtered[df1_filtered['DATE_VALID']][columns].astype(dtypes)

In [287]:
df1_date_out['year'] = df1_date_out['TRANSACTION_DT'].str[4:8].astype(int)

In [288]:
df1_date_out['month'] = df1_date_out['TRANSACTION_DT'].str[2:4].astype(int)

In [289]:
df1_date_out['day'] = df1_date_out['TRANSACTION_DT'].str[0:2].astype(int)

In [290]:
df1_date_out.head()

,CMTE_ID,TRANSACTION_DT,RUN_MED_DATE,RUN_COUNT_DATE,RUN_TOTAL_DATE,year,month,day
1,C00177436,01042017,5000,1,5000,2017,4,1
2,C00177436,01312017,230,1,230,2017,31,1
3,C00177436,01312017,307,2,614,2017,31,1
4,C00177436,01312017,384,3,998,2017,31,1
5,C00177436,01312017,307,4,1228,2017,31,1

In [291]:
df1_date_out.dtypes

CMTE_ID           object
TRANSACTION_DT    object
RUN_MED_DATE       int32
RUN_COUNT_DATE     int32
RUN_TOTAL_DATE     int32
year               int32
month              int32
day                int32
dtype: object

In [293]:
df1_date_out.sort_values(['CMTE_ID', 'year', 'month', 'day'])

,CMTE_ID,TRANSACTION_DT,RUN_MED_DATE,RUN_COUNT_DATE,RUN_TOTAL_DATE,year,month,day
93906,C00000059,02282017,416,1,416,2017,28,2
93907,C00000059,02282017,416,2,832,2017,28,2
16715,C00000059,01312017,416,1,416,2017,31,1
16716,C00000059,01312017,416,2,832,2017,31,1
36524,C00000422,02012017,100,1,100,2017,1,2
36417,C00000422,02032017,1000,1,1000,2017,3,2
36418,C00000422,02032017,750,2,1500,2017,3,2
36419,C00000422,02032017,500,3,1750,2017,3,2
36420,C00000422,02032017,375,4,1958,2017,3,2
36421,C00000422,02032017,500,5,2958,2017,3,2
36422,C00000422,02032017,500,6,3458,2017,3,2
36427,C00000422,02032017,500,7,3958,2017,3,2
36428,C00000422,02032017,500,8,6458,2017,3,2
36429,C00000422,02032017,500,9,6708,2017,3,2
36430,C00000422,02032017,500,10,7208,2017,3,2
36431,C00000422,02032017,500,11,7708,2017,3,2
36432,C00000422,02032017,500,12,8208,2017,3,2
36433,C00000422,02032017,500,13,8708,2017,3,2
36434,C00000422,02032017,500,14,9208,2017,3,2
36520,C00000422,02032017,500,15,9708,2017,3,2
36521,C00000422,02032017,500,16,9958,2017,3,2
36522,C00000422,02032017,500,17,10958,2017,3,2
36523,C00000422,02032017,500,18,11958,2017,3,2
36435,C00000422,02062017,41,1,41,2017,6,2
36436,C00000422,02102017,365,1,365,2017,10,2
36437,C00000422,02102017,1433,2,2865,2017,10,2
36438,C00000422,02102017,500,3,3365,2017,10,2
36439,C00000422,02102017,500,4,3865,2017,10,2
36440,C00000422,02102017,500,5,4365,2017,10,2
36441,C00000422,02102017,500,6,4781,2017,10,2
...,...,...,...,...,...,...,...,...
96522,C00629865,01302017,500,10,5604,2017,30,1
96632,C00629865,01302017,500,11,5704,2017,30,1
96294,C00629865,01312017,250,1,250,2017,31,1
94733,C00632414,03012017,500,1,500,2017,1,3
96261,C00632414,04042017,2700,1,2700,2017,4,4
94731,C00632414,03092017,500,1,500,2017,9,3
94735,C00632414,03092017,1600,2,3200,2017,9,3
94736,C00632414,03092017,500,3,3440,2017,9,3
94738,C00632414,03092017,1600,4,6140,2017,9,3
94732,C00632414,03102017,800,1,800,2017,10,3
94737,C00632414,02132017,2700,1,2700,2017,13,2
94739,C00632414,02232017,1000,1,1000,2017,23,2
94734,C00632414,02262017,250,1,250,2017,26,2
85247,C00633024,03062017,2700,1,2700,2017,6,3
85269,C00633024,03062017,1525,2,3050,2017,6,3
85257,C00633024,03132017,300,1,300,2017,13,3
85292,C00633024,03152017,200,1,200,2017,15,3
85293,C00633024,03152017,600,2,1200,2017,15,3
85294,C00633024,03152017,500,3,1700,2017,15,3
85295,C00633024,03152017,700,4,2600,2017,15,3
85296,C00633024,03152017,650,5,3250,2017,15,3
85297,C00633024,03152017,775,6,4250,2017,15,3
85298,C00633024,03152017,900,7,5250,2017,15,3
85319,C00633024,02202017,250,1,250,2017,20,2
85320,C00633024,02202017,250,2,500,2017,20,2
85321,C00633024,02202017,250,3,750,2017,20,2
85276,C00633024,02272017,2700,1,2700,2017,27,2
85277,C00633024,02272017,1500,2,3000,2017,27,2
85278,C00633024,02272017,2700,3,5700,2017,27,2
85322,C00633024,02272017,1500,4,5900,2017,27,2

In [278]:
df1_zip_out.to_csv('output/medianvals_by_zip.txt', sep='|', index=False, header=False)

In [279]:
df1_date_out.to_csv('output/medianvals_by_date.txt', sep='|', index=False, header=False)

# Scrap

In [103]:
df1_filtered

,CMTE_ID,ZIP_CODE,TRANSACTION_DT,TRANSACTION_AMT,OTHER_ID,ZIP_CODE_5CHAR,ZIP_VALID
1,C00177436,330375267,01042017,5000,NaN,33037,True
2,C00177436,307502818,01312017,230,NaN,30750,True
3,C00177436,040976952,01312017,384,NaN,04097,True
4,C00177436,300047357,01312017,384,NaN,30004,True
5,C00177436,020251500,01312017,230,NaN,02025,True
6,C00177436,041051896,01312017,384,NaN,04105,True
7,C00177436,041051935,01312017,384,NaN,04105,True
8,C00177436,040424132,01312017,384,NaN,04042,True
9,C00177436,041051972,01312017,384,NaN,04105,True
10,C00177436,040722246,01312017,260,NaN,04072,True
11,C00177436,040112944,01312017,240,NaN,04011,True
12,C00177436,374155652,01312017,384,NaN,37415,True
13,C00177436,223071128,01312017,384,NaN,22307,True
14,C00177436,374054318,01312017,230,NaN,37405,True
15,C00177436,374155614,01312017,230,NaN,37415,True
16,C00177436,373771437,01312017,384,NaN,37377,True
17,C00177436,374155604,01312017,230,NaN,37415,True
18,C00177436,290458282,01312017,384,NaN,29045,True
19,C00177436,015457711,01312017,230,NaN,01545,True
20,C00384818,441391855,01122017,250,NaN,44139,True
21,C00384818,028956146,01122017,250,NaN,02895,True
22,C00384818,028654257,01122017,333,NaN,02865,True
23,C00384818,028956146,01122017,333,NaN,02895,True
24,C00384818,028956146,01122017,416,NaN,02895,True
25,C00384818,028641786,01122017,250,NaN,02864,True
26,C00384818,105835024,01122017,250,NaN,10583,True
27,C00384818,028641786,01122017,250,NaN,02864,True
28,C00384818,028956146,01122017,208,NaN,02895,True
29,C00384818,028956146,01122017,416,NaN,02895,True
30,C00384818,194061418,01122017,200,NaN,19406,True
...,...,...,...,...,...,...,...
99824,C00121582,95615,02282017,62,NaN,95615,True
99825,C00121582,95615,02282017,62,NaN,95615,True
99830,C00000935,237013002,02282017,600,NaN,23701,True
99873,C00000935,554163957,02072017,350,NaN,55416,True
99876,C00000935,441041387,02142017,500,NaN,44104,True
99879,C00000935,454596233,02282017,1000,NaN,45459,True
99890,C00000935,801344524,02282017,500,NaN,80134,True
99891,C00000935,954480487,02062017,500,NaN,95448,True
99917,C00480863,662247813,02072017,5000,NaN,66224,True
99918,C00480863,280316446,02082017,5000,NaN,28031,True
99919,C00029447,443193550,02142017,750,NaN,44319,True
99920,C00029447,122102304,02162017,750,NaN,12210,True
99921,C00029447,600146111,02222017,7,NaN,60014,True
99922,C00029447,150015221,02072017,550,NaN,15001,True
99923,C00029447,501347510,02282017,62,NaN,50134,True
99924,C00029447,995778589,02092017,20,NaN,99577,True
99925,C00029447,995778589,02132017,550,NaN,99577,True
99926,C00029447,549449384,02142017,8,NaN,54944,True
99927,C00029447,601896533,02162017,12,NaN,60189,True
99928,C00029447,802111221,02072017,550,NaN,80211,True
99929,C00029447,800312023,02072017,550,NaN,80031,True
99930,C00029447,212341362,02092017,550,NaN,21234,True
99931,C00029447,173609383,02242017,550,NaN,17360,True
99932,C00029447,212362050,02152017,550,NaN,21236,True
99933,C00029447,212077421,02272017,550,NaN,21207,True
99934,C00029447,210146901,02252017,750,NaN,21014,True
99935,C00029447,212074928,02282017,750,NaN,21207,True
99936,C00029447,720197831,02092017,550,NaN,72019,True
99937,C00029447,720197831,02152017,45,NaN,72019,True
99965,C00000935,947052106,02132017,500,NaN,94705,True

In [104]:
temp = df1.merge(
    df1_filtered[['CMTE_ID']], left_index=True, right_index=True, suffixes=('', '_filtered'), how='left')
temp[
    (temp['CMTE_ID_filtered'].isnull()) &
    (temp['OTHER_ID'].isnull())
]

Empty DataFrame
Columns: [CMTE_ID, ZIP_CODE, TRANSACTION_DT, TRANSACTION_AMT, OTHER_ID, CMTE_ID_filtered]
Index: []

In [29]:
df1['TRANSACTION_DT'].apply(validate_transaction_dt).sum()

90043

In [35]:
df1[~df1.TRANSACTION_DT.apply(validate_transaction_dt)]

Empty DataFrame
Columns: [CMTE_ID, ZIP_CODE, TRANSACTION_DT, TRANSACTION_AMT, OTHER_ID]
Index: []

In [30]:
df_filtered = df1[df1.TRANSACTION_DT.apply(validate_transaction_dt)]

In [31]:
df_filtered.head()

      CMTE_ID   ZIP_CODE TRANSACTION_DT  TRANSACTION_AMT   OTHER_ID
0   C00629618      90017       01032017               40  H6CA34245
1   C00177436  330375267       01042017             5000        NaN
20  C00384818  441391855       01122017              250        NaN
21  C00384818  028956146       01122017              250        NaN
22  C00384818  028654257       01122017              333        NaN

In [17]:
df1['TRANSACTION_DT'].tail()

99995    02082017
99996    02122017
99997    02152017
99998    02192017
99999    02192017
Name: TRANSACTION_DT, dtype: object

In [124]:
df1_filtered

,CMTE_ID,ZIP_CODE,TRANSACTION_DT,TRANSACTION_AMT,OTHER_ID,ZIP_CODE_5CHAR
1,C00177436,330375267,01042017,5000,NaN,33037
2,C00177436,307502818,01312017,230,NaN,30750
3,C00177436,040976952,01312017,384,NaN,04097
4,C00177436,300047357,01312017,384,NaN,30004
5,C00177436,020251500,01312017,230,NaN,02025
6,C00177436,041051896,01312017,384,NaN,04105
7,C00177436,041051935,01312017,384,NaN,04105
8,C00177436,040424132,01312017,384,NaN,04042
9,C00177436,041051972,01312017,384,NaN,04105
10,C00177436,040722246,01312017,260,NaN,04072
11,C00177436,040112944,01312017,240,NaN,04011
12,C00177436,374155652,01312017,384,NaN,37415
13,C00177436,223071128,01312017,384,NaN,22307
14,C00177436,374054318,01312017,230,NaN,37405
15,C00177436,374155614,01312017,230,NaN,37415
16,C00177436,373771437,01312017,384,NaN,37377
17,C00177436,374155604,01312017,230,NaN,37415
18,C00177436,290458282,01312017,384,NaN,29045
19,C00177436,015457711,01312017,230,NaN,01545
20,C00384818,441391855,01122017,250,NaN,44139
21,C00384818,028956146,01122017,250,NaN,02895
22,C00384818,028654257,01122017,333,NaN,02865
23,C00384818,028956146,01122017,333,NaN,02895
24,C00384818,028956146,01122017,416,NaN,02895
25,C00384818,028641786,01122017,250,NaN,02864
26,C00384818,105835024,01122017,250,NaN,10583
27,C00384818,028641786,01122017,250,NaN,02864
28,C00384818,028956146,01122017,208,NaN,02895
29,C00384818,028956146,01122017,416,NaN,02895
30,C00384818,194061418,01122017,200,NaN,19406
31,C00384818,028956146,01122017,250,NaN,02895
32,C00384818,028956146,01122017,250,NaN,02895
33,C00384818,750392507,01122017,416,NaN,75039
34,C00384818,079321007,01122017,250,NaN,07932
35,C00384818,079321007,01122017,416,NaN,07932
36,C00384818,028956146,01122017,250,NaN,02895
37,C00384818,750392507,01122017,416,NaN,75039
38,C00384818,028641786,01122017,250,NaN,02864
39,C00384818,028641786,01122017,208,NaN,02864
40,C00384818,45202,01122017,416,NaN,45202
41,C00384818,028654257,01122017,250,NaN,02865
42,C00384818,028654257,01122017,416,NaN,02865
43,C00384818,028956146,01122017,250,NaN,02895
44,C00384818,028956146,01122017,416,NaN,02895
45,C00384818,762625646,01272017,0,NaN,76262
46,C00384818,200042448,01122017,250,NaN,20004
47,C00384818,079321007,01122017,416,NaN,07932
48,C00384818,028654257,01122017,250,NaN,02865
49,C00384818,028956146,01122017,250,NaN,02895
50,C00384818,028956146,01122017,416,NaN,02895
51,C00384818,028956146,01122017,400,NaN,02895
52,C00384818,852606719,01122017,250,NaN,85260
53,C00384818,600626150,01122017,250,NaN,60062
54,C00384818,028956146,01122017,250,NaN,02895
55,C00384818,200042404,01122017,416,NaN,20004
56,C00384818,028956146,01122017,250,NaN,02895
57,C00384818,079321007,01122017,250,NaN,07932
58,C00384818,028956146,01122017,416,NaN,02895
59,C00384818,028641799,01122017,250,NaN,02864
60,C00384818,028956146,01122017,250,NaN,02895
61,C00377051,95608,01262017,1000,NaN,95608
62,C00528455,10001,01192017,15000,NaN,10001
63,C00242271,400597644,01312017,384,NaN,40059
64,C00242271,402427771,01312017,210,NaN,40242
65,C00242271,402071661,01312017,380,NaN,40207
66,C00242271,402412423,01312017,384,NaN,40241
67,C00242271,400597616,01312017,350,NaN,40059
68,C00242271,400591349,01312017,384,NaN,40059
69,C00387753,293043484,01312017,500,NaN,29304
70,C00387753,296014335,01312017,260,NaN,29601
71,C00051979,10502,01312017,416,NaN,10502
72,C00387753,377662426,01312017,384,NaN,37766
73,C00387753,293309595,01312017,400,NaN,29330
74,C00371948,443171002,01312017,416,NaN,44317
75,C00371948,200056551,01312017,416,NaN,20005
76,C00371948,372143672,01312017,250,NaN,37214
77,C00051979,43081,01312017,415,NaN,43081
78,C00051979,43082,01312017,416,NaN,43082
79,C00051979,45248,01312017,227,NaN,45248
80,C00051979,43220,01312017,264,NaN,43220
81,C00051979,43054,01312017,416,NaN,43054
82,C00051979,43017,01312017,416,NaN,43017
83,C00051979,43081,01122017,788,NaN,43081
84,C00051979,43017,01312017,220,NaN,43017
85,C00051979,43016,01312017,204,NaN,43016
86,C00051979,431469413,01312017,301,NaN,43146
87,C00051979,154019801,01312017,363,NaN,15401
88,C00051979,20817,01312017,416,NaN,20817
89,C00051979,60611,01312017,408,NaN,60611
90,C00051979,40502,01312017,230,NaN,40502
91,C00051979,430172463,01312017,235,NaN,43017
92,C00051979,430172720,01312017,413,NaN,43017
93,C00051979,03106,01312017,218,NaN,03106
94,C00051979,46307,01312017,416,NaN,46307
95,C00051979,46360,01312017,231,NaN,46360
96,C00051979,43054,01312017,416,NaN,43054
97,C00051979,46373,01312017,201,NaN,46373
98,C00051979,60189,01312017,262,NaN,60189
99,C00051979,43017,01312017,416,NaN,43017

In [ ]:
df3 =